<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Logisim</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>circ</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LogisimDoc.icns</string>
			<key>CFBundleTypeName</key>
			<string>Logisim circuit</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Logisim</string>
	<key>CFBundleIconFile</key>
	<string>LogisimApp.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.cburch.logisim</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Logisim</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.7.1</string>
	<key>CFBundleVersion</key>
	<string>2.7.1</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.8.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2014 Carl Burch. macOS packaging contributors.</string>
</dict>
</plist>
